//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	.descpBlock {
		padding: 57px 25px 57px 30px;
	}
}

@media (max-width: 1200px) {
	.navBlock {
		padding: 66px 30px 45px 45px;
		flex: 0 0 350px;
	}
}

@media (max-width: 1050px) {
	.imgBlock {
		display: none;
	}

	.index-imgBlock {
		display: block;
	}
}

@media (max-width: 812px) {
	.wrapper {
		flex-wrap: wrap;
	}

	.index-navBlock {
		flex: 0 1 100%;
	}

	.index-imgBlock {
		display: none;
	}

	.footer {
		padding-top: 45px;
	}

	.navBlock {
		flex: 0 1 100%;
	}

	.descpBlock {
		padding: 15px 45px 65px 45px;
	}
}

@media (max-width: 515px) {
	.navBlock {
		padding: 35px 25px;
	}

	.descpBlock {
		padding: 15px 25px 45px 25px;
	}

	.index-titleBlock__title {
		font-size: 32px;
	}

	.descpBlock__form-inputBlock {
		max-width: 100%;
	}

	.descpBlock__form-inputBlock-btn {
		width: 100%;
	}
}

@media (max-width: 414px) {
	.titleBlock__list-item-link {
		width: 100%;
	}
}